<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macojia.leanproduct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.control.ForecastProgressActivity"
            android:theme="@style/BaseAppTheme.Trans" />
        <activity
            android:name=".activity.news.PhotosDetailActivity"
            android:theme="@style/BaseAppTheme.Trans" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.news.NewsDetailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.news.NewsBrowserActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.news.NewsPhotoDetailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.news.NewsChannelActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.zone.CircleZoneActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.zone.CirclePublishActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.news.AboutActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.QualityIndexActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.ComprehensiveIndexActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.CostIndexActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.QualityFeedBackActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.EfficiencyIndexActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.MaintainGuidanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.control.YieldIndexActivity"
            android:launchMode="singleInstance" />

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57e8e398e0f55ae655000723"></meta-data>
    </application>

</manifest>
